@font-face {
    font-family: "poppinsR";
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppinsS";
    src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(font/Inter-VariableFont_opsz\,wght.ttf);
}




*{
    border: 0;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    font-family: "poppinsR";
    font-size: 13px;
    margin: 0px 25px;
}

header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 
    background-color: rgba(255, 255, 255, 0.842);
    border-bottom: 0.2px solid rgba(34, 34, 34, 0.756);
    position: fixed;
 z-index: 1000;
 top: 0;
 
 width: 100%;
 padding: 15px;
}


header nav{
    margin: 0 100px 0 130px;
}




body{
   padding-top: 20px;
}

#logo {
    height: 23px;
    width: 25px;
}

.inicial{
  
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p span {
    font-family: "Inter";
    font-size: 35px;
    background: linear-gradient(88deg, #3E36E4, #4365DC, #488AED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 660;
}

.apre p{
    font-family: "Inter";
    font-size: 35px;
    color: #181818;
    font-weight: 560;
}

.apre .barra{
    border: 0.6px solid rgba(163, 163, 163, 0.629);
    border-radius: 50px;
   height: 35px; 
    width: 610px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.barra input{
    width: 570px;
    height: 35px; 
    padding: 0px 0 0 8px;
    border-radius: 50px;
    margin-left: 10px;
}

.inicial img{
    height: 500px;
    margin-top: 30px;
    margin-left: 30px;
  
}

.apre{
    margin-top: 170px;
}

.inicial{
    padding: 80px 120px 16px 140px;
}


.filtros{
    display: flex;
    flex-direction: row;
    padding: 0 140px;
    justify-content: space-between;
    align-items: center;
}

.categorias{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter";
    font-size: 13px;
}

.categorias img{
    margin-right: 10px;
    height: 25px;
}

#sevicos:hover img {
    content: url('img/nfiltro1.png'); 
    height: 25px;
}

#ferra:hover img {
    content: url('img/nfiltro2.png'); 
    height: 25px;
}

#alimentacao:hover img {
    content: url('img/nfiltro3.png');
    height: 25px;
}

#casa:hover img {
    content: url('img/nfiltro4.png'); 
    height: 25px;
}

#vestimenta:hover img {
    content: url('img/nfiltro5.png');
    height: 25px;
}


.nome{
    font-family: "Inter";
    font-weight: 300;
   
    font-size: 15px;
   
    margin: 20px 20px 8px 20px;

  }

  .preco{
  
    font-family: "Inter";
    font-weight: 300;
    color: #A2A2A2;
    font-size: 15px;
  }

  

  .produtos{
    padding: 45px 140px 65px 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .quadrado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 350px;
    padding-top: 20px;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 0px 3px rgba(48, 48, 48, 0.368);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

  }
  
  .quadrado:hover {
    transform: scale(1.05);
  }
  
  .quadrado img {
    width: 150px;
    height: 124px;
    margin-bottom:10px ;
  }
  
  .vermais {
    margin-top: 8px;
    top: 0;
    left: 0;
    width: 97px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
    background-color: #15100f; 
    color: rgba(255, 255, 255, 0.896);
    font-size: 11px;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .quadrado:hover .vermais {
    opacity: 1; 
  }
  
  .vermais:hover {
    background-color: #3b21b2; 
  }
  
  * {
    scrollbar-width: thin; 
    scrollbar-color: #000000 #ffffff; 
  }

  .destaque{
    font-family: "Inter";
    font-weight: 500;
    font-size: 25px;
    padding: 0px 0px 0px 0px;
}

.lojas-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: #ffffff; 
   
   
    
    height: 409px;
    margin-top: 80px;
    
  }
  
  .lojas-texto {
    max-width: 50%;
    padding: 20px 80px 20px 140px;
  }
  
  .lojas-texto h2 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }
  
  

  .lojas-texto p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #2e2e2e;
    margin-bottom: 30px;
  }
  
  .lojas-button {
    display: inline-block;
    background-color: #0b0b0b; 
    color: #ffffffed;
    font-size: 14px;
    padding: 12px 60px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  .lojas-button:hover {
    background-color: #371fbd; 
  }
  
  .lojas-imagem {
    max-width: 40%;
  }
  
  .lojas-img {
    height: 408px;
   
    object-fit: cover;
  }
  

 .qs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 140px;
 }

 .missoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 850px;
    text-align: center;
    font-family: "Inter";
 }

 .missoes img{
    height: 60px;
    margin-bottom: 10px;
 }

 .conecta span{
    margin-top: 35px;
 }

 #quemsomos{
    font-family: "Inter";
    font-size: 19px;
    font-weight: 300;
    text-align: justify;
    margin-top: 32px;
    margin-bottom: 96px;


 }


 .frase{
    font-family: "Inter";
    font-size: 25px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 80px;
 }

 .qs{
    background-color: #F8F8F8;
    padding-bottom: 130px;
 }

 .icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
 }

 footer{
    background-color: #0b0b0b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

 }

 footer a{
    color: white;
    font-size: 16px;
 }

 .men{
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.636);
    padding: 25px 0;
    width: 1517px;
    display: flex;
    justify-content: center;
 }

 .contato{
    color: white;
    display: flex;
    flex-direction: row;
 
    justify-content: space-around;
    width: 1517px;
    font-family: "Inter";
    padding: 30px 0px;
    padding-bottom: 150px;
    padding-top: 50px;
    align-items: center;
 }

 .contato p {
 
    font-size: 17px;
    font-weight: 300;
 }

.mis{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 105px;
    
}

#lupa{
    height: 15px;
    margin: 0;
    padding-left: 13px;
}

.pr{
  display: flex;
  flex-direction: row;
  padding: 0 140px 0 140px;
  justify-content: space-between;
}

.pr a{
  background-color: white;
  border: 2px solid #364ae4;
  color: #488AED;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 400;
  border-radius: 20px;
  padding: 5px 20px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
#search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 10px;
}