*{
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: "poppinsR";
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppinsS";
    src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(font/Inter-VariableFont_opsz\,wght.ttf);
}
body {
    padding-top: 85px;
    font-family: "Inter";
}
header{
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 30px 45px 20px 45px ;
 align-items: center;
 position: fixed;
 z-index: 1000;
 top: 0;
 background-color: #f9f9f9;
 width: 100%;
}
#nome{
    font-family: "poppinsR";
    font-size: 21px;
    padding-left: 30px;
}
#nome span{
    font-family: "poppinsS";
}
.cabe{
    display: flex;
    flex-direction: row;
    align-items: center;  
}
a {
    text-decoration: none;
}
.login, .carrinho{
    height: 13px;
    margin: 7px;
}
#imagem-principal {
    display: block;
    height: 350px;

}
.foto {
    cursor: pointer;
}
body{
    background-color: #f9f9f9f8;
}
.menu{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.cabe{
    width: 450px;
    display: flex;
    justify-content: space-around;
    padding-right: 109px;
}
.menu a {
    font-family: "poppinsR";
    color: black;

}
.contato{
    background-color: black;
    color: white;
    font-family: "poppinsR";
    font-size: 11px;
    border-radius: 20px;
    padding: 6px 22px;
    margin-left: 0px;
}
.login img{
   height: 23px;
  }
.login, .carrinho{
    background-color: #f9f9f9f8;
}
.ftGrande {
    height: 405px;
    width: 427px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    place-items: center;
    margin-bottom: 50px;
    margin-right: 60px;
}
.ava {
    display: flex;
    margin-bottom: 30px;
}
.ava h4 {
    margin-left: 10px ;
    font-size: 12px;
    color: #4D4D4D;
}
.estrela {
    height: 15px;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #7ebcd3 #f0f0f0;
}
.quantidade {
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}
.quantidade2 {
    margin-right: 10px;
    margin-left: 40px;
    font-size: 15px;
}
.cor {
    margin-bottom: 25px;
}
.ftGrande img {
    height: 230px;
}
.tudoProduto {
    padding-top: 0px;
    padding-left: 190px;
    padding-right: 190px;
    display: flex;
    justify-content: space-between;
}
#produto {
    margin-bottom: 200px;
}
.comprar {
    background-color: black;
    color: white;
    width: 195px;
    height: 45px;
    border-radius: 17px;
    margin-right: 60px;
}
.add {
     border: 1px solid black;
     height: 45px;
     width: 270px;
     border-radius: 8px;
     background-color: white;
     transition: border 0.3s ease;
}
.add:hover {
   border: solid #7ebcd3 1px;
}
.vendedor {
    color: #797979;

}
#vend {
    color: #808080;
}
.desc {
    color: #3A3A3A;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Inter";
    font-weight: 400;
}
.quantidade h3 {
    font-size: 20px;
}
.variacoes {
    display: flex;
    width: 550px;
    display: flex;
    justify-content: space-between;
}
.tipos {
    width: 900px;
    padding-left: 190px;
}
.manta {
    width: 120px;
    height: 135px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    place-items: center;
    background-color: #f9f9f9;
}
footer p {
    padding-bottom: 15px;
}
  .c {
    font-size: 29px ;
    font-weight: 350;
    padding-bottom: 25px;
}
  footer button {
    font-size: 17px;
    padding: 10px 35px;
    border-radius: 20px;
}
footer {
    background-color: #272727;
    color: white;
    font-family: "Inter";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 150px;
    font-size: 20px;
    font-weight: 300;
    height: 250px;
    align-items: center;
}
select {
    height: 25px;
    width: 55px;
    border-radius: 5px;
}
.infosProduto {
    padding-top: 90px;
}
.add .comprar {
    font-family: "Inter";
}
#resto {
    margin-top: 200px;
    margin-right: 190px;
    margin-bottom: 150px;
    margin-left: 190px;
}
#resto2 {
    margin-top: 600px;
    margin-right: 100px;
    margin-bottom: 150px;
    margin-left: 180px;
}
.especificacoes {
    font-size: 25px;
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 30px;
}
.tEspecificacoes {
     font-size: 16px;
}
.cada {
    display: flex;
}
.filtro {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.cada h2{
    font-family: "poppinsS";
    font-size: 55px;
    font-weight: 600;
}
.cada h3 {
    font-family: "poppinsR";
    font-size: 30px;
    font-weight: 500;
}
.opcao1 {
    margin-right: 100px;
}
/* para cada aba */
.opcao {
    font-size: 27px;
    font-weight: 700;
    color: black;
    position: relative;
    padding-top: 100px;
}

/* aba ativa */
.opcao.active {
    color: black;
    font-weight: bold;
    font-size: 27px;
}
.espeCinza {
    color: #797979;
}
#vendas {
    font-weight: 300;
}
.caminho {
    color: #474747;
    font-size: 12px;
    margin-left: 78px;
    margin-top: 20px;
}
.buy {
  margin-top: 50px;  
}
.estrelas , .usuario{
    display: flex;
    margin-bottom: 27px;
}
.linha {
    margin: 40px 0;
    height: 0.5px;
    width: 1200px;
    background-color: #686868;
}
.cada p {
    font-size: 15px;
    font-family: "Inter";
    width: 1170px;
}
#data {
    margin-top: 50px;
    margin-bottom: 27px;
    color: #474747;
    font-size: 17px;
}
.cada {
    display: flex;
    flex-direction: column;
}
.user {
    margin-left: 15px;
}
.detalhes{
    padding-top: 90px;
    text-align: justify;
    font-size: 22px;
    font-weight: 400;
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #000000 #ffffff; 
  }



*{
    border: 0;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    font-family: "poppinsR";
    font-size: 13px;
    margin: 0px 25px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.842);
    border-bottom: 0.2px solid rgba(34, 34, 34, 0.756);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 15px;
}


.icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
 }


header nav{
    margin: 0 100px 0 130px;
}

#logo {
    height: 23px;
    width: 25px;
}


body{
   padding-top: 150px;
}


footer{
    background-color: #0b0b0b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

 }

 footer a{
    color: white;
    font-size: 16px;
 }

 .men{
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.636);
    padding: 25px 0;
    width: 1517px;
    display: flex;
    justify-content: center;
 }

 .contato{
    color: white;
    display: flex;
    flex-direction: row;
 
    justify-content: space-around;
    width: 1510px;
    font-family: "Inter";
    padding: 30px 0px;
    padding-bottom: 150px;
    padding-top: 50px;
    align-items: center;
 }

 .contato p {
 
    font-size: 17px;
    font-weight: 300;
 }

.mis{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 105px;
    
}
.data{
    padding-top: 80px;
    padding-bottom: 30px;
    color: #797979;
    font-size: 20px;
}
.user2{
    display: flex;
    padding-top: 20px;
}
.user2 p{
    padding-left: 10px;
    padding-top: 4px;
    font-size: 18px;
}
.user2 img{
    width: 30px;
    height: 30px;
}
.estrelas{
    padding-top: 30px;
    width: 35px;
    height: 35px;
}
.estrelas h4 {
    padding-top: 8px;
    padding-left: 5px;
}
.comentario{
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
}
.listra{
    width: 100%;
    background-color: #686868;
    height: 1px;
    margin-top: 70px;
}
.mantaava{
    width: 200px;
    height: 250px;
    padding-bottom: 20px;
}